body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
}

form {
    width: 60%;
    background: white;
    border: 2px solid rgb(8, 8, 119);
    padding: 20px;
}

.visit-website-btn {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: rgb(8, 8, 119);
    border: none;
    border-radius: 35px;
    padding: 6px 10px;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

.visit-website-btn .btn-visit {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.form-header {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.form-header h1 {
    font-size: 80px;
    margin: 0;
    color: rgb(8, 8, 119);
}

.form-subtitle {
    font-size: 30px;
    font-weight: bold;
    color: rgb(8, 8, 119);
}

.form-title-btn {
    display: block;
    margin: 0 auto 20px auto;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: rgb(8, 8, 119);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}

/* Form Body */
.form-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
}

/* Left Side */
.form-left {
    width: 60%;
}

.form-left h4 {
    font-weight: bold;
    color: rgb(8,8,119);
    margin-bottom: 5px;
    margin-top: 10px;
}

.form-left input {
    width: 90%;
    border: 1px solid rgb(8,8,119);
    padding: 8px;
    font-size: 16px;
}

/* Gender Options */
.gender-options {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

/* Right Side */
.form-right {
    width: 30%;
    text-align: center;
    margin-top: 40px;
}

.form-right img {
    width: 200px;
    border-radius: 5px;
}

/* Courses Button */
.courses-btn {
    margin-top: 20px;
    font-size:32px; 
    font-weight:bold; 
    color: white; 
    background: rgb(8, 8, 119); 
    border: none; 
    border-radius: 40px; 
    padding: 5px 40px; 
    display: inline-block;
}

/* Course Options */
.course-option {
    width: 80%; 
    border: 1px solid rgb(8,8,119); 
    padding: 10px; 
    font-size: 16px; 
    margin-top: 15px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border-radius: 5px;
}

.course-option h4 {
    color: rgb(8,8,119);
    font-weight: bold;
    margin: 0;
}



/* Submit Button */
.submit-btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    color: #ffffff;
    background: rgb(8, 8, 119);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;
    font-size: 27px;
    margin-top: 40px;
    cursor: pointer;
}



/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-box {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    animation: zoom 0.3s ease;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.save-btn {
    margin-top: 15px;
    padding: 10px 30px;
    background: #0a1d3a;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Checkbox Logic */
#modalToggle:checked ~ .modal {
    display: flex;
}

/* Animation */
@keyframes zoom {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


@media (max-width: 992px),
       (max-width: 768px),
       (max-width: 576px) {

    form {
        width: 95%;
    }

    .form-body {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
    }

    .form-left {
        width: 65%;
    }

    .form-right {
        width: 30%;
        margin-top: 40px;
    }

    .form-left input {
        width: 95%;
        font-size: 14px;
    }

    .form-header {
        flex-direction: row;
        text-align: left;
    }

    .form-header h1 {
        font-size: 45px;
    }

    .form-subtitle {
        font-size: 18px;
    }

    .courses-btn {
        font-size: 22px;
        padding: 6px 25px;
    }

    .form-right img {
        width: 140px;
    }
}
